body{
    text-align: -webkit-center;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;

}
table#leadstbl, th, td {
    border: 1px solid rgba(174, 233, 209, 1);
    border-collapse: collapse;
    padding: 5px;
}
.table-top-container{
    display: flex;
    max-width: 1000px;
    align-items: center;
}
.table-top-container p{
    flex: 1 1 0%;
}
.table-top-container form{
    margin: auto;
}
.table-top-container button{
    background: rgba(0, 128, 96, 1);
    color: #FFF;
    padding: 10px 16px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
table#leadstbl {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    border: solid 1px rgb(235, 235, 235);
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
    font-size: 0.75em;
    color: #616161;
}


